<html>
<body>
<h1>Just &lt;&lt;GO FOR IT&gt;&gt;</h1>


<h3>Login</h3>
<form method="post" enctype="multipart/form-data">
  <input type="text" name="email"/>
  <input type="password" name="password"/>
  <input type="submit">
</form>

<a href="/signup">Signup</a>
</body>
</html>
