<html>
<body>
<h1>Just &lt;&lt;GO FOR IT&gt;&gt;</h1>

<h3>Register</h3>
<form method="post" action="/signup" enctype="multipart/form-data">
  Email: <input type="text" name="email"/>
  Password: <input type="password" name="password"/>{{/* TODO: confirm password */}}
  Name: <input type="text" name="name"/>
  Contact: <input type="text" name="mobile"/>

  <input type="submit">
</form>

{{.}}
<br>
<a href="/">Back to login</a>
</body>
</html>
